<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu sitio web</title>
    <!-- Agrega aquí tus etiquetas <link> y <script> para estilos y scripts -->
</head>
<body>
    <header>
        <!-- Agrega aquí el encabezado de tu sitio (por ejemplo, el logotipo y el menú de navegación) -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Agrega aquí el pie de página de tu sitio (por ejemplo, información de contacto o enlaces útiles) -->
    </footer>

    <!-- Agrega aquí tus etiquetas <script> para scripts adicionales -->
</body>
</html>
